* {
    margin: 0;
    padding: 0;
}

/*Top nav bar styling*/

.logo-and-tagline {
    float: left;
    display: inline-flex;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -5px;
}

.nav-bar-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    background-color: white;
    border: 3px solid;
}

.nav-bar-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main-section-container h1 {
    font-size: 6rem;
}

.top-line {
    display: inline-flex;
}

.top-line p {
    margin-top: 65px;
    font-size: 1rem;
}

.bottom-middle-line {
    text-align: center;
    font-size: 2rem;
}

.bottom-line {
    display: inline-flex;
    margin-top: 50px;
    padding: 10px;
}

.left {
    width: 80%;
}

.right {
    width: auto;
    font-weight: bold;
}